.Sign Up Page
{
color: white;
 font-size: 40px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
.Home
{
color: white;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
.Search
{
color: white;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
.Hangouts
{
color: white;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
.Map
{
color: white;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
.Login
{
color: white;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
.SONGNAME
{
color: white;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
.Artist
{
color: white;
 font-size: 15px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
p
{
color: white;
 font-size: 10px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}
// 1 : 2 5
color: white;
 font-size: 10px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Music App
color: white;
 font-size: 40px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// ...
color: white;
 font-size: 40px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Sign Up 
color: white;
 font-size: 40px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Username
color: white;
 font-size: 20px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Username
color: #3C3C3C;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// username@email.com
color: #3C3C3C;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Email
color: white;
 font-size: 20px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// xxxxxxxxxxxxxxxxxxxxx
color: #3C3C3C;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Password
color: white;
 font-size: 20px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// xxxxxxxxxxxxxxxxxxxxx
color: #3C3C3C;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Confirm Password
color: white;
 font-size: 20px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Already a member? Login
color: rgba(255, 255, 255, 0.75);
 font-size: 15px;
 font-family: Inter;
 font-weight: 400;
 text-decoration: underline;
 word-wrap: break-word
---
// Sign Up 
color: black;
 font-size: 40px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word